<div class="  flex  gap-1  relative  mb-1  overflow-hidden border-text border-t-[1px]  surface-stroke-1">
  {% comment %}  Image {% endcomment %}
  <a href="{{ product.url }}" class="w-28">
    <div class="featuredProductImage h-fit pt-[10px]  overflow-hidden  ">
      {{ product.image | image_url: width: 700 | image_tag }}
    </div>

    <!-- Item error messages -->
    <div class="w-full p-1  absolute bottom-0 left-0 right-0">
      <div
        class=" caption bg-orange-400 flex  items-center rounded-md z-30  "
        data-ajax-cart-errors="{{ product.key }}"
      ></div>
    </div>
  </a>
  {% comment %}  info start  {% endcomment %}
  <div class=" flex flex-col  justify-between w-full     ">
    <div class="title pt-[7px]">
      <p>{{ product.title }}</p>

      {% for e in product.variants %}
        <p>{{ e.title }}</p>
      {% endfor %}

      <p class=" ">{{ product.price | money }}</p>
    </div>

    <div class="quanity">
      <ajax-cart-quantity>
        <div class="flex w-fit items-center justify-center">
          <!-- "Minus one" button -->
          <a
            data-ajax-cart-quantity-minus
            class="   hover:black text-bold    flex justify-center items-center text-center rounded-full backdrop-blur-md "
            href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | minus: 1 }}"
          >
            -
          </a>

          <!-- Item quantity input -->
          <input
            data-ajax-cart-quantity-input="{{ index }}"
            name="updates[]"
            value="{{ product.quantity }}"
            type="number"
            form="my-ajax-cart-form"
            class=" bg-transparent w-10 text-center  pointer-events-none "
          >

          <!-- "Plus one" button -->
          <a
            data-ajax-cart-quantity-plus
            class="  hover:black text-bold   flex justify-center items-center text-center rounded-full backdrop-blur-md "
            href="{{ routes.cart_change_url }}?line={{ index }}&quantity={{ product.quantity | plus: 1 }}"
          >
            +
          </a>
        </div>
        <!-- "Remove item" button -->
        <a class=" leading-none " data-ajax-cart-request-button href="{{ product.url_to_remove }}">
          <div class="  bg-opacity-50  rounded-full  backdrop-blur-lg  absolute top-[8px] right-[2px] flex  justify-center items-center ">
            <p class="leading-none">x</p>
          </div>
        </a>
      </ajax-cart-quantity>
    </div>
  </div>
</div>
