<!-- option -->

<div class="product-option-row product-option-row-option grid  grid-cols-2 border-t-2 border-black">
  <label class=" h-3 flex items-center" for="{% if type == 'select' %}select-{{ option.name}}{% endif %}">
    <p>{{ option.name }}</p>
  </label>

  <div class="option-values">
    {% comment %}  option 1  {% endcomment %}

    {% assign e = '' %}
    {%- assign optionTwoArray = '' %}

    {% for variant in product.variants %}
      {% for value in option.values %}
        {% if value == variant.option1 %}
          {% if e != value %}
            {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}

            <div class="product-option border-t-2 border-black first-of-type:border-t-0   flex h- items-center ">
              <input
                class="variant-radio"
                {% if forloop.index == 1 and variant.inventory_quantity > 0 %}
                  checked="checked"
                {% endif %}
                {% if variant.inventory_quantity <= 0 %}
                  disabled
                {% endif %}
                id="{{ radio_id }}"
                type="radio"
                name="{{ option_name }}"
                value="{{ value }}"
                {% if value == selected %}
                  checked
                {% endif %}
              >

              <label for="{{ radio_id }} ">
                {{ value }}
              </label>
            </div>

            {% assign e = value %}
          {% endif %}
        {% endif %}

        {% comment %}
          option2 & option1 is deprecated and needs to be replaced with option[1]
        {% endcomment %}

        {% if value == variant.option2 %}
          {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}

          {% unless optionTwoArray contains value %}
            <div class="border-t-2 border-black first-of-type:border-t-0  flex  h-3  items-center   ">
              <input
                class="variant-radio"
                {% if forloop.index == 1 and variant.inventory_quantity > 0 %}
                  checked="checked"
                {% endif %}
                {% if variant.inventory_quantity <= 0 %}
                  disabled
                {% endif %}
                id="{{ radio_id }}"
                type="radio"
                name="{{ option_name }}"
                value="{{ value }}"
                {% if value == selected %}
                  checked
                {% endif %}
              >

              <label for="{{ radio_id }}">
                {{ value }}
              </label>
            </div>
          {% endunless %}

          {% comment %}
            builds a referance array as the second element in object.values isnt
            consistant. eg s/blue s/black - this alows support for a second
            variant option but not a third - yet
          {% endcomment %}

          {%- assign optionTwoArray = optionTwoArray | append: value %}
          {%- assign optionTwoArray = optionTwoArray | append: ',' %}
          {% assign e = value %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
