<div class="  group flex flex-col  relative  ">
  <a href="{{ product.url }}">
    <div class="js-product-card flex  pointer-events-none bg-black bg-opacity-5  relative overflow-hidden h-fit">
      {% comment %}
        <div class="  pointer-events-none group-hover:opacity-0 rounded-sm  bg-opacity-50 overflow-hidden border-2 border-test h-full ">
          {% if nofade %}
            {{ product.featured_image | image_url: width: 700 | image_tag: class: 'w-full no-fade h-full ' }}
          {% else %}
            {{
              product.featured_image
              | image_url: width: 700
              | image_tag: class: 'w-full js-fade h-full border-2 border-test  h-full w-full object-fill'
            }}
          {% endif %}
        </div>
      {% endcomment %}
      <div class="img-wrap relativ ">
        <div class=" absolute top-1 right-1 z-40 w-fit  ">
          {% if collection.all_products_count > 0 and collection.all_products_count <= 2 %}
            {% render 'lowstock-sym' %}
          {% endif %}
        </div>

        <div class=" pointer-events-none  w-full  ">
          {% if product.metafields.custom.pre_order %}
          {% endif %}
          {{ product.images[0] | image_url: width: 700 | image_tag: class: 'js-fade h-full w-full  aspect-main ' }}
        </div>
        <div class=" pointer-events-none absolute inset-0 opacity-0 w-full group-hover:opacity-100 ">
          {{ product.images[1] | image_url: width: 700 | image_tag: class: 'js-fade h-full w-full ' }}
        </div>
      </div>
    </div>
    <div class=" pt-1 pointer-events-none  flex gap-1 ">
      <div class="info">
        <p>{{ product.title }}</p>

        <div class="flex flex-col gap-2">
          <p class=" ">{{ product.price | money }}</p>
          <p class="  ">{{ product.compare_at_price | money_with_currency }}</p>
        </div>
      </div>
      {% if product.metafields.custom.pre_order %}
        {% render 'preorder-sym' %}
      {% endif %}
    </div>
  </a>
</div>
