<!-- option -->

<div class="product-option-row product-option-row-option grid  grid-cols-2 mb-[5px]  ">
  <label class="  flex items-center">
    <p>{{ option.name }}</p>
  </label>

  <div class="option-values flex ">
    {% comment %}  option 1  {% endcomment %}

    {% assign options = '' | split: ', ' %}
    {%- assign options = options | append: option_name.title -%}

    {% assign e = '' %}

    {% for variant in product.variants %}
      {% for value in option.values %}
        {% if value == variant.option1 %}
          {% if e != value %}
            {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}

            <div class="product-option   flex  items-center ">
              <label for="{{radio_id}}" class="px-[6px]">
                <input
                  class="variant-radio js-option-one "
                  {% if forloop.index == 1 and variant.inventory_quantity > 0 %}
                    checked="checked"
                  {% endif %}
                  {% comment %}
                    {% if variant.inventory_quantity <= 0 %}
                      disabled
                    {% endif %}
                  {% endcomment %}
                  type="radio"
                  id="{{radio_id }}"
                  name="{{ option_name }}"
                  data-variant="{{ variant.title }}"
                  value="{{ value }}"
                  {% if value == selected %}
                    checked
                  {% endif %}
                >

                {{ value }}
              </label>
            </div>

            {% assign e = value %}
          {% endif %}
        {% endif %}

        {% comment %}
          option2 & option1 is deprecated and needs to be replaced with option[1]
        {% endcomment %}

        {% if value == variant.option2 %}
          {% comment %}
            {% if options contains value %}
              {%- assign options = options | append: variant.inventory_quantity -%}

              {% comment %}  Skiping Vlaues that are already a printed  {% endcomment %}
            {% else %}
          {% endcomment %}

          {%- assign options = options | append: value -%}
          {% if optionTwoE != value %}
            {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}
            <div class="product-option    flex h- items-center ">
              <label for="{{variant.title }}" class="px-[6px]">
                {{ value -}}

                <input
                  class="variant-radio"

                  {% if forloop.index == 1 and variant.inventory_quantity > 0 %}
                    checked="checked"
                  {% endif %}

                  {% comment %}
                    {% if variant.inventory_quantity <= 0 %}
                      disabled
                    {% endif %}
                  {% endcomment %}

                  data-inventory="{{ variant.inventory_quantity }}"
                  type="radio"
                  id="{{variant.title }}"
                  name="{{ option_name }}"
                  data-variant="{{ variant.title }}"
                  value="{{ variant.title }}"
                  {% if value == selected %}
                    checked
                  {% endif %}
                >

                {% comment %} {{ variant.inventory_quantity }} {% endcomment %}
                {% comment %}
                  {{ variant.title }}
                {% endcomment %}
              </label>
            </div>
            {% comment %} {% endif %} {% endcomment %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
