<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9 no-js"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js">
  <!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
      <title>
        {{ shop.name }}
        |
        {{ page_title }}
      </title>
    {% elsif template == '404' %}
      <title>
        Page Not Found |
        {{ shop.name }}
      </title>
    {% else %}
      <title>
        {{ page_title }}
        |
        {{ shop.name }}
      </title>
    {% endif %}
    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'output.css' | asset_url | stylesheet_tag }}

    {% comment %}  swiper {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    {% comment %}
      <script type="text/paperscript" canvas="myCanvas">
        var points = 60;

        var length = 10;

        var path = new Path({
          strokeColor: '#e0e0e0e0',
          strokeWidth: 2,
          strokeCap: 'square',
        });

        var start = view.center / [10, 1];
        for (var i = 0; i < points; i++) path.add(start + new Point(i * length, 0));

        function onMouseMove(event) {
          path.firstSegment.point = event.point;
          for (var i = 0; i < points - 1; i++) {
            var segment = path.segments[i];
            var nextSegment = segment.next;
            var vector = segment.point - nextSegment.point;
            vector.length = length;
            nextSegment.point = segment.point - vector;
          }
          path.smooth({ type: 'continuous' });
        }

        function onMouseUp(event) {
          path.fullySelected = false;
          path.strokeColor = '#000000';
        }
      </script>
    {% endcomment %}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  </head>

  <body
    id="{{ page_title | handle }}"
    class=" relative bg-surface-1 text-type1 text-grey-900 template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
  >
    {% comment %} <canvas id="myCanvas" class=" fixed inset-0  pointer-events-none " resize> </canvas> {% endcomment %}

    {% comment %}  styles for body wrap are in css due tw error {% endcomment %}
    {% render 'header' %}
    {% section 'live-cart-v2' %}
    {% if template != 'product' %}
      {% if template != 'page.about' %}
        {% if template != 'page.info' %}
          {% if template != 'collection' %}
            <div class="fixed top-0 left-0 h-[80vh] md:h-screen  w-screen flex items-center justify-center pointer-events-none z-30  ">
              <a href="/">
                {% render 'logo' %}
              </a>
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    <div class="js-main  ">
      {{ content_for_layout }}
      <div class="p-2 ">
        {% render 'footer' %}
      </div>

      {% comment %} {% render 'cookies' %} {% endcomment %}
    </div>

    {% comment %} Somewhere in layout/theme.liquid {% endcomment %}

    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.1.1.js" | asset_url }}';
    </script>

    <script src="{{ 'shop.js' | asset_url }}" defer></script>
    <script src="{{ 'scroll.js' | asset_url }}" defer></script>
    <script src="{{ 'ani.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'gallery.js' | asset_url }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    {% comment %} <script src="{{ 'cookieconsent-config.js' | asset_url }}" type="module" defer></script> {% endcomment %}
  </body>
</html>
