<div
  class="
    lg:h-[130vh] js-section relative lg:flex  {% if section.settings.reverse %} md:flex-row-reverse {% endif %}  pointer-events-none flex-row-reverse  bg-opacity-50
    md:h-[120vh] md:flex md:flex-row
    sm:flex-col
    h-fit
  "
>
  <div class="w-full ">
    <div
      class="
        SMALL IMAGE
        lg:h-[100vh]
        md:h-[80vh]  md:pt-2 p-2
        pt-0  flex flex-col items-center justify-center sticky top-0 h-[70vh]
      "
    >
      <div class="w-80  overflow-hidden md:p-[0px] md:pr-4  p-4">
        <a href="{{ section.settings.product_1.url }}" class="pointer-events-auto">
          {{
            section.settings.image2
            | image_url: width: 1204
            | image_tag: class: ' object-cover  js-fade  pointer-events-none md:h-full '
          }}
        </a>

        {% if section.settings.product_1 != '' %}
          <div class="md:absolute md:bottom-4 md:left-2 w-fit  mt-1  ">
            <p>{{ section.settings.product_1.title }}</p>
            <p>{{ section.settings.product_1.price | money }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="w-full h-full  p-0 overflow-hidden   ">
    <a href="{{section.settings.product_1.url}}">
      {{ section.settings.image1 | image_url: width: 1204 | image_tag: class: 'object-cover md:h-full  js-fade ' }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Product Display",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Large Image"
    },

    {
      "type": "image_picker",
      "id": "image2",
      "label": "Small Image"
    },
    {
      "type": "product",
      "id": "product_1",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Reverse"
    }
  ],

  "presets": [
    {
      "name": "Product Display ",
      "category": "Content"
    }
  ]
}
{% endschema %}
