<div class="md:hidden w-full overflow-hidden ">
  {% render 'swiper' with { product: product } %}
</div>

<div class="  mobile-info md:hidden sm:visible  h-fit flex justify-start items-start p-2 pt-0 ">
  <div class="">
    <div class="js-product-title pb-2   ">
      <h3 class="display-serif w-full">{{ product.title }}</h3>
      <h3 class="display-serif">{{ product.metafields.custom.range }}</h3>
    </div>

    <div class="js-product-description md:w-[350px]">
      <div class="pb-1 ">
        {{ product.description }}
      </div>

      <ajax-cart-product-form>
        {% render 'add-to-cart-form' with current_variant: current_variant %}
      </ajax-cart-product-form>
      <div class="flex flex-col gap-1  ">
        <div class="js-product-description md:w-[350px] flex-col flex gap-0">
          {% if product.metafields.custom.shipping != '' %}
            {% render 'accordian' with { title: 'Shipping', content: product.metafields.custom.shipping } %}
          {% endif %}
          {% if product.metafields.custom.size != '' %}
            {% render 'accordian' with { title: 'Dimnetions', content: product.metafields.custom.size } %}
          {% endif %}
        </div>
        {% render 'atc-stick' %}
      </div>
    </div>
  </div>
</div>

<div class=" relative h-fit  ">
  <div
    style="background:{{product.metafields.custom.page_colour}}"
    class="bg-backdrop-color opacity-0 transition-all duration-300 md:flex hidden fixed inset-0  "
  ></div>

  <div class=" desktop-info js-product-info h-fit md:flex justify-start items-start md:p-4 p-2 fixed top-0 left-0  z-20 snap-start   sm:visible hidden ">
    <div class="  ">
      <div class="js-back mb-2 hover:opacity-30 cursor-pointer">
        <p class="pointer-events-none">Back</p>
      </div>

      <div class="js-product-title ">
        <h3 class="display-serif ">{{ product.title }}</h3>
        <h3 class="display-serif">{{ product.metafields.custom.range }}</h3>
      </div>

      <div class="js-product-description md:w-[350px]">
        <div class="pb-1 pt-1 ">
          {{ product.description }}
        </div>

        <ajax-cart-product-form>
          {% render 'add-to-cart-form' with current_variant: current_variant %}
        </ajax-cart-product-form>
        <div class="flex flex-col gap-1  ">
          <div class="js-product-description md:w-[350px]  flex-col flex gap-0">
            {% if product.metafields.custom.shipping != '' %}
              {% render 'accordian' with { title: 'Shipping', content: product.metafields.custom.shipping } %}
            {% endif %}
            {% if product.metafields.custom.size != '' %}
              {% render 'accordian' with { title: 'Dimnetions', content: product.metafields.custom.size } %}
            {% endif %}
          </div>
          {% render 'atc-stick' %}
        </div>
      </div>
    </div>
  </div>

  <div class="js-product-gallery p-[3px] post-wrapper md:flex hidden flex-col gap-12 w-screen pt-[18vh]   ">
    {% for image in product.images %}
      <div class=" flex justify-end  w-full gap-[3px]  ">
        <div class=" rounded-sm w-1/2 pr-4 ">
          {{ image | image_url: width: 800 | image_tag: class: 'rounded-sm h-fit js-fade w-full  ' }}
        </div>
      </div>
    {% endfor %}
  </div>

  {% comment %}
    <div class="js-product-gallery p-[3px] post-wrapper md:flex sm:hidden flex-col gap-12 w-screen pt-[40vh] [&>*:nth-child(odd)]:justify-end pb-[20vw]   ">
      {% for image in product.images %}
        <div class=" flex w-full gap-[3px] [&>*:nth-child(odd)]:p-[3px] ">
          <div class="  w-1/2  h-[40vw] rounded-sm  ">
            <div class=" rounded-sm ">
              {{ image | image_url: width: 800 | image_tag: class: 'rounded-sm h-fit js-fade w-full  ' }}
            </div>

            <p class="caption h-4 ">{{ forloop.index }} / {{ forloop.length }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endcomment %}
</div>
{% section 'product-recommendations' %}

<script></script>
